html {
    font-size: var(--base-font-size);
}

body {
  font-family: 'Montserrat', 'Helvetica', 'Arial', sans-serif;
  font-size: 1rem;
  color: var(--primary-text-color);
}

h1 {
    font-family: sans-serif;
}