@import "../scss-variables";
@import "../mixins";

.info-section {
  margin-bottom: $spacing;

  &:last-child {
    margin-bottom: 80px;
  }

  & + & {
    padding-top: $spacing;
    border-top: $border;
  }

  &__heading {
    margin: 0 0 1.75rem;
    font-size: 1.375rem;
    line-height: 1.5rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;

    &:after {
      content: '';
      display: block;
      height: 4px;
      width: $spacing;
      background-color: #000;
      margin-top: 8px;
    }
  }

  &__sub-heading {
    margin: 0 0 .5rem 0;
    font-size: .875rem;
    line-height: 1rem;
    text-transform: uppercase;
  }

  &__time {
    font-size: .875rem;
    margin-bottom: 1.25rem;

    &--small-indent {
      margin-bottom: .5rem;
    }
  }

  &__duration {
    font-size: .75rem;
    color: var(--x-light-text-color);
  }

  &__text {
    margin-top: 0;
    margin-bottom: 1.5rem;
    color: var(--light-text-color);
    font-size: .875rem;
    line-height: 1rem;

    &--long {
      color: var(--x-light-text-color);
      line-height: 1.5rem;
    }

    a {
      color: var(--light-text-color);
    }

    p {
      margin-top: 0;
      margin-bottom: 1rem;
    }

    ul {
      margin-left: 0;
      padding-left: 1.2em;
    }
  }

  &__link {
    display: block;
    padding: 0;
    border: unset;
    text-decoration: underline;
    margin-bottom: 1rem;
    font-size: .875rem;
    line-height: 1rem;
    color: var(--x-light-text-color);
    background: unset;
    cursor: pointer;
  }

  &__icon {
    height: 16px;
    margin-left: 14px;
    position: absolute;
  }

  &__contact-link {
    display: block;
    text-decoration: none;
  }

  &__list {
    margin: .5rem 0 1rem 0;
    padding-left: 1rem;

    li {
      margin: .25rem;
    }
  }

  &__remark {
    font-weight: 400;
    font-size: .625rem;
    color: var(--light-text-color);
    text-transform: none;
  }
}

@include going-large($breakpoint-medium) {
  .info-section {
    &--no-border {
      margin-bottom: 56px;
    }

    & + &--no-border {
      padding-top: 0;
      border: unset;
    }

    p {
      break-inside: avoid;
      widows: 2;
      orphans: 2;
    }
  }
}
