@import "../scss-variables";
@import "../mixins";

.title {
  grid-area: title;
  text-align: center;

  &__credentials {
    flex-grow: 1;
  }

  &__name {
    margin: 0 0 18px;
    font-size: 3.25rem;
    line-height: 3.5rem;
    font-weight: $font-weight-bold;
    text-transform: uppercase;
    letter-spacing: $letter-spacing;
  }

  &__position {
    margin: 0 0 18px;
    font-size: 1.125rem;
    line-height: 1.25rem;
    font-weight: $font-weight-light;
    color: var(--light-text-color);
  }

  &__image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 45%;
    filter: grayscale(.25) contrast(130%) saturate(120%);
  }
}

@include going-large($breakpoint-x-small) {
  .title {
    display: flex;
    text-align: left;

    &__position {
      margin: 0;
    }

    &__image {
      width: 150px;
      height: 150px;
    }
  }
}
